html, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
}

.wrapper-large {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper {
    max-width: 910px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 75px;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 120px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
}

.header__link:hover {
    text-shadow: 0 0 1px #000;
}

.inner {
    margin-top: 75px;
    height: 509px;
    background: url("../img/inner-bg.jpg") no-repeat center;
    background-size: cover;
}

.photodiary {
    margin-top: 95px;
    margin-bottom: 120px;
}

.textdecor-label {
    color: #b4ad9e;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.textdecor-title {
    margin-top: 23px;
    font-size: 30px;
    font-weight: 400;    
}

.textdecor-text {
    margin-top: 38px;
    font-weight: 400;
    line-height: 24px;
}

.photodiary-comment {
    margin-top: 50px;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;   
}

.photodiary-comment a {
    text-decoration: none;
    color: #b4ad9e;
}

.cards__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards__item {
    width: 420px;
    margin-bottom: 120px;
}

.cards__img {
    width: 420px;
    height: 280px;
    margin-bottom: 28px;
}

.cards__pic {
    width: 100%;
    height: 100%;
}

.send {
    background-color: #f0f0f0;
    height: 287px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.send__title {
    color: #333333;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.75px;
    margin-bottom: 80px;
}

.send__email {
    width: 400px;
    padding-bottom: 13px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #000000;
    outline: 0;
    padding-right: 32px;
}

.send__email::placeholder {
    color: #626262;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Playfair Display";
}

.send__wrap {
    position: relative;
}

.send__btn {
    position: absolute;
    right: 0;
    top: 5px;
    width: 32px;
    height: 17px;
    background: url("/img/send_icon.png") no-repeat;
    cursor: pointer;
    transition: .2s all;
}

.send__btn:hover {
    right: -3px    
}

.lifestyle-cards {
    margin-bottom: 150px;
}

.load-more {
    text-align: center;
    margin-bottom: 100px;
}

.more {
    padding: 18px 33px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    border: 2px solid #626262;
}

.footer {
    background-color: #f0f0f0;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 97px;
}

.footer__links a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 10px;
}

.footer__socials span {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 10px;
}

.footer__socials img {
    margin-right: 10px;    
}